  
  <div class="row mt-5">
       
    <div class="col-3" *ngFor="let etudiant of etudiants">
        <div class="card">
        
        
        
        <!-- [ngClass]="{'card p-1':true,
                        'prem':etudiant.niveau =1,
                        'second':etudiant.niveau =2,
                        'third':etudiant.niveau =3,
                        'four':etudiant.niveau =4,
                        'five': etudiant.niveau =5,
                        'six' :etudiant.niveau =6}">  -->

            <div class="card-image">
                <img class="w-100" height="300" width="300" [src]="etudiant.image" alt="">
            </div>
            <div class="card-body">
                <h2>{{etudiant.name}} {{etudiant.lastName}}</h2>
                <h4>Age :{{etudiant.age}}</h4>
                <h3>Niveau :{{etudiant.niveau}}</h3>
                <h3>Club :{{etudiant.clubId}}</h3> 


                <button class="btn btn-danger" (click)="delete(etudiant._id)">Delete</button>
                <span style="margin-right: 20px;"></span>
                <button class="btn  btn-warning" [routerLink]="['/updateEtudiant',etudiant._id]" >Edit</button> 
            </div>
        </div>
        <div class="space">
        </div>
    </div>
    
    </div>
    