

<div class="container mt-5">
    
    <label for="name">Name:</label><br>
     <input type="text" placeholder="Name" [(ngModel)]="etudiant.name" class="form-control"><br><br>


    <label for="name">lastName:</label><br>
     <input type="text" placeholder="lastName" [(ngModel)]="etudiant.lastName" class="form-control"><br><br>


    <label for="name">Age:</label><br>
     <input type="number" placeholder="Age" [(ngModel)]="etudiant.age" class="form-control"><br><br>


    <label for="email">Email:</label><br>
    <input type="email" placeholder="email" [(ngModel)]="etudiant.email" class="form-control"><br><br>


    <label for="">Password:</label><br>
    <input type="password" placeholder="Password" [(ngModel)]="etudiant.password" class="form-control"><br><br>

<label for="select">Niveau:</label><br>
<select id="select"  [(ngModel)]="etudiant.niveau" >
  <option> 1</option>
  <option> 2</option>
  <option> 3</option>
  <option> 4</option>
  <option> 5</option>
  <option> 6</option>
</select><br><br>

<input type="text" placeholder="Img URL" [(ngModel)]="etudiant.image" class="form-control"><br><br>
<label for="">Choisir un Club :</label>
<select id="select"  [(ngModel)]="etudiant.clubId" >
  <option>Robotique</option>
  <option>Dance</option>
  <option>Lecture</option>
</select><br><br>

    <button class="btn btn-info form-control" (click)="update()">Edit</button>

</div>