<!-- Footer -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Liens utiles</h4>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À propos</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Informations pratiques</h4>
          <ul>
            <li>Adresse : 123, cité Enneur Gafsa</li>
            <li>Téléphone : 75 500 500</li>
            <li>Email : Enajeh-ecole@ecole.fr</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Réseaux sociaux</h4>
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">© 2024 École - Tous droits réservés</p>
    </div>
  </footer>