/* Footer */

footer {
   background-color: rgb(155, 115, 250);
    padding: 20px 0;
    border-top: 1px solid #ddd;
  }
  
  footer.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  footer.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer.col-md-4 {
    flex-basis: 33.33%;
    margin: 20px;
  }
  
  footer h4 {
    font-weight: bold;
    margin-top: 0;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #cf1111;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #23527c;
  }
  
  footer.copyright {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
  }
  
  footer.fa {
    font-size: 18px;
    margin-right: 10px;
  }